<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="product" class="com.ibm.spring.core.beans.hasa.Product">
        <property name="id" value="1"/>
        <property name="productName" value="Iphone"/>
    </bean>
    <bean id="order" class="com.ibm.spring.core.beans.hasa.Order">
        <property name="orderId" value="1000"/>
        <property name="product" ref="product"/>
    </bean>

</beans>
